<mat-list>
  <h3 matSubheader>{{title}} - Under 18</h3>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">Under 6</span>
      <span class="value">{{underSixTotal}}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">Ages 6 - 11</span>
      <span class="value">{{sixToElevenTotal}}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">Ages 12 - 17</span>
      <span class="value">{{twelveToSeventeenTotal}}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">Total</span>
      <span class="value">{{total}}</span>
    </div>
  </mat-list-item>
</mat-list>

