<mat-list>
    <h3 matSubheader>{{title}}  - Statistics</h3>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Assaults</span>
        <span class="value">{{CACount}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Burglary/Robbery</span>
        <span class="value">{{CBRCount}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Drug Violations</span>
        <span class="value">{{CDCount}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Thefts</span>
        <span class="value">{{CTCount}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Traffic/Other</span>
        <span class="value">{{COCount}}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Weapon Violations</span>
        <span class="value">{{CWCount}}</span>
      </div>
    </mat-list-item>
  </mat-list>

  
  