.inner-sidebar {
  width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.title {
  span {
    color: gray;;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.mat-tab-group {
  flex: 1;
}

.map-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature-point-summary, .single-breakdown {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-sidebar ::ng-deep {
  .mat-tab-body-wrapper, .mat-tab-label {
    flex: 1;
  }
}

app-breakdown-chart {
  margin-bottom: 2em;
  margin-top: 1em;
}

.loading-shade {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.stats {
  margin-top: 1.2em;
}

.school-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.show {
  display: block;
  opacity: 1;
  position: relative;
}

.hide {
  position: absolute;
  opacity: 0;
}
