<ng-container *ngIf="currentData|async as event">
  <div class="map-sidebar">
    <div class="single-breakdown" *ngIf="!isFeaturePoint && !isMulti">
      <mat-toolbar>
        <h1 class="title">{{getTitle(event)}} - <span>{{getSubtitle(event)}}</span></h1>
      </mat-toolbar>
      <ng-container *ngIf="!didError; else errorFetchingStats">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Population">
            <div class="inner-sidebar">
              <div class="stats" *ngIf="populationData|async as populationData; else loadingStats">
                <app-breakdown-chart [chartData]="genderChartData|async"></app-breakdown-chart>
                <app-breakdown-summary title="Population" [populationStats]="populationData" [district]="getDistrict(event)"></app-breakdown-summary>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Poverty">
            <div class="inner-sidebar">
              <div class="stats" *ngIf="populationData|async as populationData; else loadingStats">
                <app-breakdown-chart [chartData]="povertyChartData|async"></app-breakdown-chart>
                <app-poverty-breakdown-summary title="Poverty" [populationStats]="populationData"></app-poverty-breakdown-summary>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-container>
    </div>

    <div class="feature-point-summary" *ngIf="isFeaturePoint">
      <mat-toolbar>
        <h1 class="title">{{getTitle(event)}}</h1>
      </mat-toolbar>
      <ng-container *ngIf="populationData|async as populationData; else loadingStats">
        <ng-container *ngIf="!didError; else errorFetchingStats">
          <app-breakdown-chart [chartData]="overallChartData|async"></app-breakdown-chart>
          <app-point-feature-summary [pointFeature]="getPointFeatureData(event)"
                                     [typeTitle]="getTitle(event)"></app-point-feature-summary>
          <app-breakdown-summary title="Servicing Population" [populationStats]="populationData"></app-breakdown-summary>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #errorFetchingStats>
      <h1>Could not fetch stats!</h1>
    </ng-template>
    <ng-template #loadingStats>
      <div class="loading-shade">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </ng-template>
  </div>
</ng-container>
