<app-navigation-bar></app-navigation-bar>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="https://www.tn.gov/content/tn/humanservices/for-families/child-support-services/jcr%3acontent/content/tn_image.img.jpg/1528124299088.jpg">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Us 
        </p>
        <p class="text-blk description">
          Welcome to the Shelby County, TN Child Impact Statements site. Child Impact Statements are designed to improve the quality of information available to Shelby County decision makers. Oftentimes, political decisions are influenced by more than objective information. It is important, therefore, that policy-makers fully understand the consequences – the costs, benefits and distributional effects – of their decisions
        </p>

        <p class="text-blk description">
          The Child Impact Statement tool was developed through a partnership between the Languages Across Cultures lab and several semesters of students in Computer Science capstone courses at The University of Memphis between 2021-2023. 
        </p>
        <p class="text-blk description">
        For questions about Child Impact Statements, please contact Dr. Leah C. Windsor: Leah.Windsor@memphis.edu

        </p>
      </div>
    </div>
  </div>