<mat-list>
  <h3 matSubheader>{{typeTitle}} Information</h3>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">Location</span>
      <span class="value">{{pointFeature.streetAddress}}</span>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="list-item-inner">
      <span class="title">ZIP Code</span>
      <span class="value">{{pointFeature.zipCode}}</span>
    </div>
  </mat-list-item>

  <ng-container *ngIf="hasTelephoneNumber">
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Contact Number</span>
        <span class="value">{{getValue('phoneNumber')}}</span>
      </div>
    </mat-list-item>
  </ng-container>

  <ng-container *ngIf="hasWebsiteURL">
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item-inner">
        <span class="title">Website</span>
        <span class="value">
          <a mat-icon-button target="_blank" [href]="getValue('websiteURL')">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </span>
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>

