:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}


span.main-error {
  font-size: 1.2em;
  margin-bottom: 1em;
}

span.detail-message {
  color: gray;
}
