:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.map-box-container {
  flex: 1;
}

.map-box-content {
  display: flex;
  flex-direction: column;

  app-map {
    flex: 1;
  }
}

.map-box-toolbar {
  height: 48px;

  .inner-toolbar {
    flex: 1;
    display: flex;
    align-items: center;
    user-select: none;

    .app-title {
      display: block;
      opacity: 0.8;
    }

    .app-version {
      opacity: 0.6;
      padding-left: 8px;
      display: block;
      font-weight: normal;
    }
  }
}
