@use '~@angular/material' as mat;

mat-card-title {
  margin-top: 3em;
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(9);
  }
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  padding: 1.5em 2em;
  margin-bottom: 3em;
  cursor: pointer;

}

