<mat-toolbar color="primary">
  <a class="logo" href="#" routerLink="/"><span style="color:red">Child</span><span style="color:white">Impact</span><span style="color: lightblue" >Statements</span></a> 
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/" color="secondary" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="zipcodes">
    Zip Codes
  </button>
</mat-toolbar>

<div class="container">
 <router-outlet></router-outlet>
</div>

