<app-navigation-bar></app-navigation-bar>
<div class="sidenav">
    <a href="/graphs">Graphs/Maps</a>
    <a href="/covid">Covid</a>
    <a href="/lead">Lead</a>
    <a href="/mapfeatures">Map Features</a>
    <a href="/mapresources">Map Resources</a>
      <!-- <div class="DropDownMenu">
        <button class="DropDownBottom">Map Resources</button>
        <div class="DropDownMenu-Content">
          <a href="">Zipcodes</a>
          <a href="">Tracts</a>
          <a href="">Districts</a>
        </div>
      </div> -->
  </div>



