<mat-card>
  <mat-card-header>
    <mat-card-title>Shelby County</mat-card-title>
    <mat-card-subtitle>Example Map</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d417302.5911730463!2d-90.25173421257956!3d35.20207249138837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d57e1e43333ac5%3A0x850b8d20ea165096!2sShelby%20County%2C%20TN!5e0!3m2!1sen!2sus!4v1634080093693!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </mat-card-content>
</mat-card>

<app-rep-email-form></app-rep-email-form>
