<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gokertanrisever/leaflet-ruler@master/src/leaflet-ruler.css" integrity="sha384-P9DABSdtEY/XDbEInD3q+PlL+BjqPCXGcF8EkhtKSfSTr/dS5PBKa9+/PMkW2xsY" crossorigin="anonymous">  

<div class="map-container">
  <div class="loading-shade" *ngIf="isLoading" @fadeOut>
    <mat-spinner diameter="45" class="map-spinner"></mat-spinner>
    <h2 class="loading-text">Loading map...</h2>
  </div>
  <div id="map"></div>
</div>

<div ng-include="index.d.ts"></div>


