<app-side-bar></app-side-bar>

<div class='content'>
    <h3 style="font-size: 18px;">This is a collection of graphs and maps available for use when writing a Child Impact Statement
        or for other personal needs. 
    
        <p>The entire collection of graphs is available as downloadable links below. If you would like to sort by subject, or view the graphs, click on the sidebar links to the left. </p>
    </h3>
    <p style="font-size: 20px;"> <br>Graphs</p>
    <p style="font-size: 16px;"> Covid</p>
    <p><a href="./assets/graphs/covidcaserate.png" download="covid_case_rate">
        Covid Case Rate</a></p>
    <p><a href="./assets/graphs/covidcasecount.png" download="covid_case_count">
        Covid Case Count</a></p>
     <p><a href="./assets/graphs/covidvaccinerate.png" download="covid_vaccine_rate">
        Covid Vaccine Rate</a></p>
    <p><a href="./assets/graphs/covidvaccinecount.png" download="covid_vaccine_count">
        Covid Vaccine Count</a></p>

    <p style="font-size: 16px;"> Lead</p>
    <p><a href="./assets/graphs/leadlevels.png" download="lead_levels_age">
        Elevated blood lead levels by age</a></p>
    <p><a href="./assets/graphs/leadlevels2.png" download="lead_levels_gender">
        Elevated blood lead levels by gender</a></p>
    <p><a href="./assets/graphs/leadlevelszip.png" download="lead_levels_zip">
        Elevated blood lead levels by zipcode</a></p>

    <p style="font-size: 20px;"> <br><br>Maps</p>
    <p style="font-size: 16px;"> Map Features</p>
    <p><a href="./assets/graphs/zipcodes.png" download="zipcodes">
        Zip code boundaries</a></p>
    <p><a href="./assets/graphs/censustracts.png" download="census_tracts">
        Census Tract Boundaries</a></p>
    <p><a href="./assets/graphs/CountyCommissionerDistricts.png" download="county_commissioner_districts">
        Shelby County Commissioner District Boundaries</a></p>
    
    <p style="font-size: 16px;"> Map Resources</p>
    <p><a href="./assets/graphs/childcarecenters.png" download="child_care_center">
        Child Care Centers (Center-based care)</a></p>
    <p><a href="./assets/graphs/childcarehome.png" download="census_tracts">
        Child Care Centers (Home-based care)</a></p>
    <p><a href="./assets/graphs/communitycenters.png" download="community_centers">
        Community Centers</a></p>
    <p><a href="./assets/graphs/libraries.png" download="libraries">
        Libraries </a></p>
    <p><a href="./assets/graphs/parks.png" download="parks">
        Parks </a></p>
    <p><a href="./assets/graphs/schools.png" download="schools">
        Schools</a></p>

</div>
