<app-side-bar></app-side-bar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class='content'>
<h1 class="heading" style="font-size: 42px;">Covid Graphs</h1>
<h1 style="font-size: 35px;">Cases</h1>
<h1>Covid cases 2020-2022 &lt;18y Cumulative Count</h1>
<a href="./assets/graphs/CovidCasecount.png" download="covid_case_count">
    <button class="btn"><i class="fa fa-download"></i> Download</button></a>
    <br>
<img class="mainImg" src="./assets/graphs/CovidCasecount.png" width="1000px" height="650px">
</div>

<div class='content'>
    <br><br><br><br>
    <h1>Covid case rate</h1>
    <a href="./assets/graphs/covidcaserate.png" download="covid_case_rate">
        <button class="btn"><i class="fa fa-download"></i> Download</button></a>
        <br>
    <img class="mainImg" src="./assets/graphs/covidcaserate.png" width="1000px" height="650px">
</div>


<div class='content'>
    <br><br>
    <h1 style="font-size: 35px;">Vaccines</h1>
    <h1>Covid vaccine count</h1>
    <a href="./assets/graphs/covidvaccinecount.png" download="covid_vaccine_count">
        <button class="btn"><i class="fa fa-download"></i> Download</button></a>
        <br>
    <img class="mainImg" src="./assets/graphs/covidvaccinecount.png" width="1000px" height="650px">
</div>
<div class='content'>
    <br><br>
    <h1>Covid vaccine rate</h1>
    <a href="./assets/graphs/covidvaccineratepng" download="covid_vaccine_count">
        <button class="btn"><i class="fa fa-download"></i> Download</button></a>
        <br>
    <img class="mainImg" src="./assets/graphs/covidvaccinerate.png" width="1000px" height="650px">
</div>